@charset "UTF-8";

/* importa fonte */
@font-face {
  font-family: 'fonte1';
  src: url(font/FathersDisplayRegular.ttf);
}

/* Defina as variáveis CSS */
:root {
  --cor-principal: rgba(0, 0, 0, 0.603);
  --cor-secundaria: rgba(240, 248, 255, 0.11);
  --cor-terciaria: #999;

  --fonte-titulo: fonte1;
  --fonte-principal: Arial, sans-serif;
}


/* Defina o estilo do corpo da página */
body {
  background-image: url('img/fundo-4.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--fonte-principal);
}

a.externo::after {
  /*usado para todo link externo*/
  content: '\00a0\1f517';
}

/* Defina o estilo do container */
.container {
  max-width: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 3px;
}

/* Defina o estilo do header */
.header {
  background-color: var(--cor-principal);     /* cor promaria*/
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  grid-column: 1 / -1;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h2{
  font-family: 'fonte1', sans-serif;
  font-size: 4em;
  text-align: left;
  margin-left: 0px;
  color: black;
  text-shadow: 2px 2px 4px #ffffff,
    -2px -2px 4px #0000FF;
}

.header h1 {
    font-family: 'fonte1', sans-serif;
    font-size: 8em;
    text-align: center;
    color: black;
    margin: 3px;
    text-shadow: 2px 2px 4px #ffffff,
      -2px -2px 4px #0000FF;
}

/* Defina o estilo do nav */
.nav {
  background-color: var(--cor-principal);   /*cor primaria*/
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  grid-column: 1 / -1;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav a,
.footer a {
  color: white;
  margin-right: 20px;
  text-decoration: none;

}

.nav a:hover {
  color: yellowgreen;  
  text-decoration: underline;
}

/* Defina o estilo da barra lateral (equipes)*/
.container-cards {
  background-color: var(--cor-principal);
  grid-column: 1;
  border: 0.5px solid black;
  box-shadow: 2px 2px 5px black;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0px 5px 0px;
  justify-content: center;
}

.container-cards h2{
  text-shadow: 2px 2px 4px #ffffff,
      -2px -2px 4px #ffffff;
}

.card {
  width: 200px;
  border: 2px solid white;
  background-color: var(--cor-secundaria);
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.container-slide {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.paginas-slide {
  display: inline-block;
  transition: transform 3s ease-in-out;
}

.paginas-slide img {
  border-radius: 50%;
  width: 200px;
}

.paginas-slide img {
  display: inline-block;
}

.container-slide .paginas-slide {
  animation: anima 9s linear infinite;
}

@keyframes anima {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.container-slide:hover .paginas-slide img {
  display: inline-flex;
}

/* Defina o estilo do conteúdo principal */
.main {
  background-color: var(--cor-principal);     /*cor princial*/
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  /* Define a cor de fundo do conteúdo principal */
  padding: 15px;
  /* Define o preenchimento do conteúdo principal */
}

.apresentacao {
  background-color: var(--cor-principal);
  box-shadow: 2px 2px 5px black;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  color: white;
}

.apresentacao #img-reuniao {
  width: 800px;
  padding-left: 50px;
}

.apresentacao a {
  color: white;
  text-decoration: none;

}

.apresentacao a:hover {
  color: yellowgreen;
  text-decoration: underline;

}

.art-main {
  background-color: var(--cor-principal);
  box-shadow: 2px 0px 5px black;
  border-radius: 5px;
  padding: 15px;
  color: white;
}

.feedback {
  background-color: var(--cor-principal);
  box-shadow: 0px 2px 5px black;
  border-radius: 5px;
  padding: 15px;
  color: white;
  margin-top: 0px;
}

/* Defina o estilo do rodapé */
.footer {
  margin-top: 5px;
  background-color: var(--cor-principal);
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  grid-column: 1 / -1;
  /* Define a largura do rodapé no grid */
  /* Define a cor de fundo do rodapé */
  height: 40px;
  /* Define a altura do rodapé */
  display: flex;
  /* Define o display do rodapé como flex */
  justify-content: center;
  /* Define o alinhamento do texto do rodapé */
  align-items: center;
  /* Define o alinhamento do texto do rodapé */
}

.footer p {
  color: white;
}

.social img {
  width: 50px;
  cursor: pointer;
}

.social img:hover {
  transition: rotation 50%;
}

.nav h2:hover {
  text-shadow: 1px 3px 5px rgba(152, 18, 179, 0.856);
}